/*

E8F3D6

FCF9BE

FFDCA9

FAAB78

*/

* {
    border: none;
}

:root {
    --first-color: #191919;
    --second-color: #2D4263;
    --third-color: #C84B31;
    --fourth-color: #ECDBBA;
}

body {
    background-color: var(--fourth-color);
    color: var(--second-color);
}

header {
    padding: 10px 20px;
    font-size: small;
    text-align: center;
    color: var(--third-color);
    background-color: var(--first-color);
}

nav {
    margin: 3px auto;
    padding: 10px;
    text-align: center;
    overflow: hidden;
    width: fit-content;
}

nav a {
    background-color: var(--first-color);
    color: var(--third-color);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    margin: 3px;
    border-radius: 25%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

nav a:hover {
    background-color: var(--second-color);
    color: var(--fourth-color);
}

.ListContainer {
    padding: 20px 10%;
    text-align: center;
}

.ListContainer textarea,input {
    border: 1px solid var(--second-color);
    color: var(--third-color);
    font-size: larger;
    margin: 10px auto;
}

.ListContainer textarea {
    width: 100%;
}

textarea:focus, input:focus {
    border: 2px solid var(--third-color);
  }

input, textarea {
    display: block;
    font-family: inherit;
    font-size: inherit;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}